---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">🤓 Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <div class="mb-4">
      As a Software Engineer at Localiza, I deliver innovative and efficient
      solutions for the leading car rental company in Latin America. I
      specialize in React Native, a technology that enables me to create
      high-quality mobile applications for different platforms.
    </div>
    <div class="mb-4">
      With a proven track record of optimizing app performance, enhancing user
      experience, and driving success through strategic improvements, I have
      contributed to significant achievements such as increasing the app's
      rating from 4.3 to 4.8, reducing support calls by 60%, and improving
      loading performance by 70%. I am also skilled in managing large user
      bases, refactoring critical libraries, and architecting applications from
      scratch, demonstrating strong architectural and development skills.
    </div>
    <div>
      I hold a Bachelor's degree in Computer Science from the Federal Institute
      of Education, Science and Technology of Ceará, where I developed my
      proficiency in geospatial mapping techniques for data-driven
      decision-making. I am committed to continuous learning and collaborating
      with teams to achieve outstanding results. I am passionate about creating
      solutions that make a positive impact on people's lives and the
      environment.
    </div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">🎒 Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor's degree, Computer Science"
      subtitle="2015 to 2021 at Federal Institute of Education, Science and Technology of Ceará, Brazil"
    />
    <!-- <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    /> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">⏳ Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="🚗 Software Engineer"
      subtitle="From Aug 2022 to Present at Localiza"
    >
      <ul class="list-disc mb-4 mx-4">
        <li>
          Optimizations were applied to the In App Review flow, informed by
          insightful A/B tests, culminating in a substantial UX improvement that
          propelled the app's rating from 4.3 to an impressive 4.8.
          Additionally, strategic refinements were introduced to optimize the
          timing and handling of review requests, further enriching user
          engagement.
        </li>
        <li>
          Developed a digital scheduling flow, reducing support calls by up to
          60% and improving operational efficiency.
        </li>
        <li>
          Optimized image consumption through CMS, enhancing loading performance
          by 70% for a smoother user experience.
        </li>
        <li>
          Improved code standards, boosting productivity, code quality, and
          reducing testing time significantly.
        </li>
        <li>
          Successfully refactored and migrated critical libraries without
          incidents, ensuring a modern, secure, and efficient application
          foundation.
        </li>
        <li>
          Drives a weekly rolling release to a huge user base of 100,000 users,
          ensuring bug-free sessions and 100% monitored publications with
          BugSnag and DataDog as observability tools.
        </li>
        <li>
          Created and migrated comprehensive documentation, fostering knowledge
          sharing and enhancing organizational efficiency.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="💲 Software Engineer"
      subtitle="From Jul 2021 to Aug 2022 at Magnetis"
    >
      <ul class="list-disc mb-4 mx-4">
        <li>
          Release Time Optimization: Successfully decreased the release time of
          an open-source library from days to minutes through efficient process
          improvements and automation.
        </li>
        <li>
          Customer Experience Unification: Played a key role in unifying the
          experience of various types of customers in specific app flows,
          ensuring a consistent and seamless user journey for all users.
        </li>
        <li>
          Large User Base Migration: Actively participated in the migration
          flows of a large user base, managing the process smoothly and ensuring
          minimal disruptions during the transition.
        </li>
        <li>
          Typing Enhancement: Actively contributed to improving the typing of
          components utilized in the application, resulting in enhanced code
          quality and better developer experience.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="🏠 Software Engineer"
      subtitle="From Feb 2020 to Jun 2021 at ioasys"
    >
      <ul class="list-disc mb-4 mx-4">
        <li>
          Application Development from Scratch: Successfully built an
          application entirely from the ground up to Minimum Viable Product
          (MVP), demonstrating strong architectural and development skills.
        </li>
        <li>
          Scalable User Base Management: Proficient in handling and working with
          a user base ranging from 100 to 10,000 users, ensuring the application
          performs optimally and meets the demands of varying user loads.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="🏫 Software Engineer"
      subtitle="From Jan 2018 to Jan 2020 at Federal Institute of Education, Science and Technology of Ceará"
    >
      <ul class="list-disc mb-4 mx-4">
        <li>
          Scalability: Successfully managed and scaled an application to handle
          approximately 50 users in a limited database, optimizing performance
          and ensuring smooth user experiences even under increased loads.
        </li>
        <li>
          Geospatial Mapping: Proficient in geospatial mapping techniques,
          effectively mapping and analyzing approximately 100 commercial
          establishments to support the creation of new public policies with
          location-based insights and data-driven decision-making.
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">📚 Volunteering</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Education Mentor"
      subtitle="From Oct 2017 to Mar 2018 at Federal Institute of Education, Science and Technology of Ceará"
    >
      Guided an Introduction to Logic Programming class at a Digital Inclusion
      Center, helping students to develop their programming skills and learn
      about the importance of digital inclusion.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">🤹🏻‍♂️ Skills</div>
  </div>

  <div class="md:columns-5 columns-2 mx-6 my-4">
    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title id="catTitle">React Native</title>
        <path
          d="M64.0001 75.4C70.2961 75.4 75.4001 70.296 75.4001 64C75.4001 57.7039 70.2961 52.6 64.0001 52.6C57.7041 52.6 52.6001 57.7039 52.6001 64C52.6001 70.296 57.7041 75.4 64.0001 75.4Z"
          fill="#FFFFFF"></path>
        <path
          d="M107.3 45.2C105.1 44.4 102.8 43.6 100.4 42.9C101 40.5 101.5 38.1 101.9 35.8C104 22.6 101.7 13.3 95.2999 9.69998C93.3999 8.59997 91.2999 8.09998 88.8999 8.09998C81.8999 8.09998 72.9999 13.3 63.9999 22C54.9999 13.3 46.0999 8.09998 39.0999 8.09998C36.6999 8.09998 34.5999 8.59997 32.6999 9.69998C26.2999 13.4 23.9999 22.7 26.0999 35.8C26.4999 38.1 26.9999 40.5 27.5999 42.9C25.1999 43.6 22.8999 44.3 20.6999 45.2C8.1999 50 1.3999 56.6 1.3999 64C1.3999 71.4 8.2999 78 20.6999 82.8C22.8999 83.6 25.1999 84.4 27.5999 85.1C26.9999 87.5 26.4999 89.9 26.0999 92.2C23.9999 105.4 26.2999 114.7 32.6999 118.3C34.5999 119.4 36.6999 119.9 39.0999 119.9C46.1999 119.9 55.0999 114.7 63.9999 106C72.9999 114.7 81.8999 119.9 88.8999 119.9C91.2999 119.9 93.3999 119.4 95.2999 118.3C101.7 114.6 104 105.3 101.9 92.2C101.5 89.9 101 87.5 100.4 85.1C102.8 84.4 105.1 83.7 107.3 82.8C119.8 78 126.6 71.4 126.6 64C126.6 56.6 119.8 50 107.3 45.2ZM92.4999 14.7C96.5999 17.1 97.9999 24.5 96.2999 35C95.9999 37.1 95.4999 39.3 94.8999 41.6C89.6999 40.4 84.1999 39.6 78.3999 39.1C74.9999 34.3 71.4999 30 67.9999 26.1C75.3999 18.8 82.8999 13.8 88.9999 13.8C90.2999 13.8 91.4999 14.1 92.4999 14.7ZM81.2999 74C79.4999 77.2 77.3999 80.4 75.1999 83.6C71.4999 83.9 67.7999 84 63.9999 84C60.0999 84 56.3999 83.9 52.7999 83.6C50.5999 80.4 48.5999 77.2 46.7999 74C44.8999 70.7 43.0999 67.3 41.4999 64C43.0999 60.7 44.8999 57.3 46.7999 54C48.5999 50.8 50.6999 47.6 52.8999 44.4C56.5999 44.1 60.2999 44 64.0999 44C67.9999 44 71.6999 44.1 75.2999 44.4C77.4999 47.6 79.4999 50.8 81.2999 54C83.1999 57.3 84.9999 60.7 86.5999 64C84.8999 67.3 83.1999 70.6 81.2999 74ZM89.5999 70.7C91.0999 74.2 92.2999 77.6 93.3999 81C89.9999 81.8 86.3999 82.4 82.5999 82.9C83.7999 81 85.0999 79 86.1999 76.9C87.3999 74.8 88.4999 72.7 89.5999 70.7ZM63.9999 97.8C61.5999 95.2 59.2999 92.4 57.0999 89.5C59.3999 89.6 61.6999 89.7 63.9999 89.7C66.2999 89.7 68.5999 89.6 70.8999 89.5C68.6999 92.4 66.3999 95.2 63.9999 97.8ZM45.3999 82.8C41.5999 82.3 37.9999 81.7 34.5999 80.9C35.6999 77.6 36.8999 74.1 38.3999 70.6C39.4999 72.6 40.5999 74.7 41.7999 76.7C42.9999 78.9 44.1999 80.8 45.3999 82.8ZM38.3999 57.3C36.8999 53.8 35.6999 50.4 34.5999 47C37.9999 46.2 41.5999 45.6 45.3999 45.1C44.1999 47 42.8999 49 41.7999 51.1C40.5999 53.2 39.4999 55.3 38.3999 57.3ZM63.9999 30.2C66.3999 32.8 68.6999 35.6 70.8999 38.5C68.5999 38.4 66.2999 38.3 63.9999 38.3C61.6999 38.3 59.3999 38.4 57.0999 38.5C59.2999 35.6 61.5999 32.8 63.9999 30.2ZM86.1999 51.2L82.5999 45.2C86.3999 45.7 89.9999 46.3 93.3999 47.1C92.2999 50.4 91.0999 53.9 89.5999 57.4C88.4999 55.3 87.3999 53.2 86.1999 51.2ZM31.6999 35C29.9999 24.5 31.3999 17.1 35.4999 14.7C36.4999 14.1 37.6999 13.8 38.9999 13.8C44.9999 13.8 52.4999 18.7 59.9999 26.1C56.4999 29.9 52.9999 34.3 49.5999 39.1C43.7999 39.6 38.2999 40.5 33.0999 41.6C32.4999 39.3 32.0999 37.1 31.6999 35ZM6.9999 64C6.9999 59.3 12.6999 54.3 22.6999 50.6C24.6999 49.8 26.8999 49.1 29.0999 48.5C30.6999 53.5 32.6999 58.8 35.0999 64.1C32.6999 69.4 30.5999 74.6 29.0999 79.6C15.2999 75.6 6.9999 69.6 6.9999 64ZM35.4999 113.3C31.3999 110.9 29.9999 103.5 31.6999 93C31.9999 90.9 32.4999 88.7 33.0999 86.4C38.2999 87.6 43.7999 88.4 49.5999 88.9C52.9999 93.7 56.4999 98 59.9999 101.9C52.5999 109.2 45.0999 114.2 38.9999 114.2C37.6999 114.2 36.4999 113.9 35.4999 113.3ZM96.2999 93C97.9999 103.5 96.5999 110.9 92.4999 113.3C91.4999 113.9 90.2999 114.2 88.9999 114.2C82.9999 114.2 75.4999 109.3 67.9999 101.9C71.4999 98.1 74.9999 93.7 78.3999 88.9C84.1999 88.4 89.6999 87.5 94.8999 86.4C95.4999 88.7 95.8999 90.9 96.2999 93ZM105.3 77.4C103.3 78.2 101.1 78.9 98.8999 79.5C97.2999 74.5 95.2999 69.2 92.8999 63.9C95.2999 58.6 97.3999 53.4 98.8999 48.4C112.7 52.4 121 58.4 121 64C121 68.7 115.2 73.7 105.3 77.4Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title id="catTitle">Android</title>
        <path
          d="M21.005 43.0032C16.952 43.0012 13.667 46.2942 13.666 50.3442L13.671 81.0802C13.6704 82.0446 13.8598 82.9997 14.2285 83.8908C14.5973 84.7819 15.138 85.5916 15.8199 86.2736C16.5018 86.9556 17.3114 87.4965 18.2025 87.8653C19.0936 88.2342 20.0486 88.4237 21.013 88.4232C21.9773 88.4243 22.9323 88.235 23.8233 87.8664C24.7143 87.4978 25.5239 86.9569 26.2055 86.2749C26.8872 85.5929 27.4276 84.783 27.7957 83.8918C28.1639 83.0006 28.3526 82.0455 28.351 81.0812V50.3402C28.3489 48.3934 27.574 46.5271 26.1965 45.1513C24.8191 43.7756 22.9518 43.0029 21.005 43.0032ZM80.198 15.4012L85.321 6.04621C85.4515 5.8089 85.4826 5.52951 85.4074 5.26932C85.3323 5.00913 85.157 4.78937 84.92 4.65821C84.6826 4.52981 84.404 4.50054 84.1451 4.57679C83.8862 4.65304 83.6679 4.82862 83.538 5.06521L78.363 14.5182C74.009 12.5802 69.136 11.4942 63.98 11.4992C58.838 11.4942 53.967 12.5772 49.631 14.5042L44.45 5.07521C44.3868 4.95752 44.3008 4.85354 44.1971 4.7693C44.0934 4.68507 43.974 4.62225 43.8458 4.58449C43.7176 4.54673 43.5832 4.53477 43.4504 4.54932C43.3176 4.56386 43.189 4.60461 43.072 4.66921C42.9539 4.73233 42.8496 4.81836 42.7652 4.92227C42.6807 5.02618 42.6179 5.14589 42.5803 5.27439C42.5426 5.40289 42.531 5.5376 42.5461 5.67064C42.5612 5.80368 42.6026 5.93238 42.668 6.04921L47.793 15.3982C37.723 20.5912 30.919 30.4812 30.925 41.8362L97.043 41.8282C97.045 30.4772 90.253 20.6072 80.198 15.4012ZM48.942 29.8582C48.2067 29.8578 47.5017 29.5653 46.982 29.0451C46.4623 28.5249 46.1706 27.8195 46.171 27.0842C46.1714 26.3489 46.4639 25.6439 46.9841 25.1242C47.5043 24.6045 48.2097 24.3128 48.945 24.3132C49.6804 24.3145 50.3853 24.6072 50.9054 25.1271C51.4255 25.647 51.7184 26.3518 51.72 27.0872C51.7187 27.8229 51.4254 28.528 50.9045 29.0476C50.3836 29.5672 49.6777 29.8587 48.942 29.8582ZM79.048 29.8532C78.684 29.8535 78.3235 29.782 77.9871 29.6428C77.6508 29.5037 77.3451 29.2996 77.0877 29.0423C76.8302 28.7849 76.626 28.4793 76.4868 28.143C76.3475 27.8067 76.2759 27.4462 76.276 27.0822C76.2799 26.3475 76.5732 25.644 77.0922 25.124C77.6113 24.604 78.3143 24.3095 79.049 24.3042C79.7831 24.3103 80.4852 24.6054 81.0031 25.1256C81.5211 25.6458 81.8131 26.3491 81.816 27.0832C81.8164 27.4469 81.7451 27.8071 81.6062 28.1433C81.4672 28.4794 81.2634 28.7848 81.0063 29.0421C80.7492 29.2993 80.4439 29.5034 80.1079 29.6426C79.7719 29.7818 79.4117 29.8533 79.048 29.8532ZM31.195 44.3902L31.206 92.0252C31.2048 93.054 31.4066 94.0729 31.7998 95.0236C32.193 95.9743 32.7699 96.8381 33.4974 97.5656C34.2249 98.293 35.0888 98.8698 36.0395 99.2628C36.9903 99.6559 38.0092 99.8575 39.038 99.8562L44.371 99.8582L44.377 116.122C44.376 120.172 47.668 123.464 51.712 123.464C55.768 123.464 59.054 120.169 59.055 116.117L59.051 99.8572L68.96 99.8542L68.964 116.117C68.964 120.164 72.257 123.463 76.302 123.455C80.358 123.458 83.646 120.163 83.645 116.111L83.64 99.8522L88.992 99.8482C90.0209 99.8483 91.0398 99.6458 91.9904 99.2522C92.9411 98.8586 93.8049 98.2816 94.5325 97.5541C95.2601 96.8266 95.8374 95.963 96.2312 95.0125C96.6251 94.0619 96.8279 93.0431 96.828 92.0142L96.819 44.3792L31.195 44.3902ZM114.329 50.3332C114.329 49.3692 114.139 48.4147 113.77 47.5241C113.402 46.6335 112.861 45.8243 112.179 45.1428C111.497 44.4612 110.688 43.9207 109.797 43.552C108.907 43.1834 107.952 42.9938 106.988 42.9942C102.935 42.9902 99.651 46.2812 99.651 50.3362L99.657 81.0742C99.6564 82.0382 99.8457 82.9928 100.214 83.8835C100.583 84.7742 101.123 85.5835 101.805 86.2651C102.487 86.9468 103.296 87.4873 104.187 87.8559C105.077 88.2245 106.032 88.4139 106.996 88.4132C107.96 88.4133 108.915 88.2235 109.805 87.8544C110.696 87.4854 111.505 86.9444 112.187 86.2625C112.868 85.5805 113.409 84.771 113.777 83.88C114.146 82.9891 114.335 82.0343 114.334 81.0702L114.329 50.3332Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Android Studio</title>
        <path
          d="M25.1001 17.7002L38.5001 17.8002C33.6001 22.7002 30.7001 29.0002 29.7001 36.1002L24.6001 36.0002C19.1001 35.8002 14.8001 31.7002 14.9001 26.7002C14.9001 21.6002 19.4001 17.7002 25.1001 17.7002ZM65.3002 94.9002C66.2002 97.1002 72.2001 109.3 72.2001 109.3H55.1001C55.1001 109.3 60.6001 97.8002 61.8001 94.9002C62.8001 92.7002 64.3002 92.6002 65.3002 94.9002Z"
          fill="#FFFFFF"></path>
        <path
          d="M114.9 47.9003C113.8 52.2003 109.4 55.4003 104 55.4003H98.9999C98.6999 55.5003 98.4999 55.7003 98.5999 56.0003V109.3H89.4999L71.9999 73.1003C73.7999 71.1003 74.8999 68.4003 74.8999 65.5003C74.8999 60.7003 72.0999 56.4003 67.8999 54.7003V49.8003C67.8999 47.7003 66.0999 46.2003 63.9999 46.2003H63.7999C61.6999 46.2003 59.8999 48.0003 59.8999 50.1003V54.7003C55.2999 56.2003 51.8999 60.5003 51.8999 65.7003C51.8999 68.7003 53.0999 71.5003 54.9999 73.5003L37.9999 109.4H23.0999C17.3999 109.4 12.8999 104.8 12.8999 99.1003V29.7003C12.8999 29.7003 12.8999 29.1003 12.9999 29.7003C13.7999 34.5003 17.9999 38.2003 23.0999 38.3003H99.9999C99.8999 38.3003 114.6 37.0003 114.9 47.9003Z"
          fill="#FFFFFF"></path>
        <path
          d="M63.3001 59.8C66.4001 59.8 69.0001 62.4 68.9001 65.6C68.9001 68.7 66.3001 71.3 63.1001 71.2C60.0001 71.2 57.5001 68.6 57.5001 65.5C57.5001 64 58.1001 62.6 59.2001 61.5C60.4001 60.4 61.8001 59.8 63.3001 59.8ZM65.6001 56.5V50.5C65.6001 49.8 65.3001 49.2 64.7001 48.9C63.8001 48.4 62.7001 48.7 62.2001 49.6C62.0001 49.9 61.9001 50.2 62.0001 50.6V56.4C57.0001 57.2 53.5001 61.9 54.3001 67V67.1C54.7001 69.5 56.0001 71.7 58.0001 73.1L36.7001 118.8C35.9001 120.4 36.0001 122.4 37.1001 123.9C38.7001 126.2 41.8001 126.8 44.1001 125.2C44.9001 124.7 45.5001 123.9 45.9001 123.1L60.0001 92.5C60.9001 90.5 63.3001 89.6 65.4001 90.6C66.2001 91 66.9001 91.7 67.3001 92.5L81.8001 122.8C83.0001 125.3 86.0001 126.3 88.5001 125.1C91.0001 123.9 92.0001 120.9 90.8001 118.4L69.0001 72.9C73.0001 69.7 73.7001 63.8 70.5001 59.8C69.3001 58.2 67.6001 57.1 65.6001 56.5ZM79.6001 12.9H79.5001L84.8001 3.7C85.1001 3.2 84.9001 2.6 84.5001 2.2C84.0001 2 83.5001 2.1 83.2001 2.5L77.6001 12C68.9001 8.1 58.9001 8.1 50.1001 12L44.7001 2.6C44.5001 2.3 44.1001 2 43.7001 2C43.3001 2 42.9001 2.2 42.7001 2.6C42.5001 3 42.5001 3.4 42.7001 3.7L48.1001 12.9C39.3001 17.8 33.5001 26.2 32.1001 36H95.9001C94.4001 26.2 88.4001 17.8 79.6001 12.9ZM51.2001 28L50.8001 28.4C50.3001 28.9 49.6001 29.2 48.9001 29.2H49.0001C47.5001 29.2 46.3001 28 46.3001 26.6V26.5C46.3001 25.8 46.6001 25.1 47.1001 24.6C48.0001 23.5 49.7001 23.3 50.8001 24.2C52.1001 25.1 52.2001 26.8 51.2001 28ZM78.6001 29C77.1001 29.1 75.9001 27.9 75.9001 26.4V26.3C75.9001 25.6 76.2001 24.9 76.7001 24.4C77.7001 23.4 79.4001 23.4 80.5001 24.4C81.0001 24.9 81.3001 25.6 81.3001 26.3C81.3001 27.9 80.1001 29 78.6001 29ZM105.7 58H101.5C101.3 58.1 101.1 58.3 101.1 58.6V125.1C101.1 125.4 101.3 125.6 101.6 125.6H106C111.1 125.6 115.2 121.4 115.2 116.4C115.2 116.4 115.1 55.3 115.2 53C115.3 50.6 114.7 52.3 114.5 52.8C113 56 109.7 58.1 105.9 58.1H105.7V58Z"
          fill="#FFFFFF"></path>
        <path
          d="M63.3001 68.6998C65.0674 68.6998 66.5001 67.2671 66.5001 65.4998C66.5001 63.7325 65.0674 62.2998 63.3001 62.2998C61.5328 62.2998 60.1001 63.7325 60.1001 65.4998C60.1001 67.2671 61.5328 68.6998 63.3001 68.6998Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>iOS</title>
        <path
          d="M97.9052 67.8848C98.0792 86.6848 114.399 92.9418 114.579 93.0218C114.441 93.4618 111.972 101.938 105.982 110.691C100.804 118.259 95.4292 125.799 86.9641 125.957C78.6461 126.109 75.9712 121.023 66.4602 121.023C56.9522 121.023 53.9812 125.799 46.1062 126.109C37.9342 126.419 31.7112 117.924 26.4902 110.385C15.8222 94.9608 7.66916 66.7998 18.6162 47.7908C24.0542 38.3508 33.7742 32.3738 44.3232 32.2198C52.3472 32.0668 59.9212 37.6178 64.8262 37.6178C69.7282 37.6178 78.9322 30.9418 88.6082 31.9218C92.6592 32.0908 104.029 33.5578 111.33 44.2458C110.743 44.6108 97.7642 52.1668 97.9052 67.8848ZM82.2722 21.7188C86.6102 16.4678 89.5302 9.15581 88.7342 1.88281C82.4802 2.13381 74.9182 6.04981 70.4332 11.2988C66.4132 15.9458 62.8932 23.3858 63.8422 30.5148C70.8132 31.0548 77.9332 26.9728 82.2722 21.7188Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>XCode</title>
        <path
          d="M67.2999 108.8H90.5999C100.7 108.8 108.9 100.6 108.9 90.5V37.4001C108.9 35.4001 108.6 33.6 108 31.8H108.1C109.4 31.8 110.5 33.9 111 35C111.5 36 112.9 36.8001 114.2 37.4001V92.2C114.2 104.3 104.4 114.1 92.2999 114.1H64.6999C65.3999 112.7 66.2999 110.9 67.2999 108.8ZM73.3999 13.8C80.9999 14 84.1999 16.2 85.6999 19.2H37.4999C27.3999 19.2 19.1999 27.4 19.1999 37.5V90.6C19.1999 100.7 27.3999 108.9 37.4999 108.9H41.2999C40.8999 110 40.4999 111.6 40.4999 112.6C40.4999 113.2 40.6999 113.7 40.8999 114.3H35.7999C23.6999 114.3 13.8999 104.5 13.8999 92.4V35.7001C13.8999 23.6 23.6999 13.8 35.7999 13.8H73.3999Z"
          fill="#FFFFFF"></path>
        <path
          d="M89.9001 106.4H68.5001C71.8001 99.6 75.9001 90.9 79.6001 83.2L85.3001 93C86.6001 95.2 89.4001 96 91.6001 94.7C93.8001 93.4 94.6001 90.6 93.3001 88.4L84.4001 73C86.9001 67.8 88.6001 64.2 88.8001 63.7C89.7001 61.8 90.1001 59.4 91.2001 57.1C94.2001 51.3 100.7 37.3 103.4 34.7C104.3 33.9 104.9 33.2 105.5 32.8C106.1 34.5 106.4 36.2 106.4 38.1V89.8C106.4 99 99.0001 106.4 89.9001 106.4ZM95.2001 71.3H86.3001L91.6001 80.6H95.2001C97.8001 80.6 99.8001 78.5 99.8001 76C99.8001 73.4 97.8001 71.3 95.2001 71.3ZM21.6001 89.8V38.1C21.6001 28.9 29.0001 21.5 38.2001 21.5H86.6001C86.9001 22.6 87.1001 23.7 87.2001 24.9C87.4001 26.5 85.1001 31.6 84.8001 32.2C82.6001 36.6 78.0001 45.3 75.5001 49.7C74.9001 50.9 73.4001 52.7 73.3001 52.9C73.3001 52.9 73.2001 53 73.1001 53.2L70.9001 49.4L65.6001 58.7L67.8001 62.5C66.3001 65.1 64.6001 68.1 62.7001 71.2H32.8001C30.2001 71.2 28.2001 73.3 28.2001 75.8C28.2001 78.4 30.3001 80.4 32.8001 80.4H57.3001C50.9001 91.4 44.6001 102.3 42.4001 106.2H38.2001C29.1001 106.4 21.6001 99 21.6001 89.8ZM62.1001 34.3C60.8001 32.1 58.0001 31.3 55.8001 32.6C53.6001 33.9 52.8001 36.7 54.1001 38.9L57.4001 44.7L62.7001 35.4L62.1001 34.3ZM56.9001 68.8L74.2001 38.8C75.5001 36.6 74.7001 33.8 72.5001 32.5C70.3001 31.2 67.5001 32 66.2001 34.2L46.2001 68.8H56.9001ZM43.1001 92.9L48.8001 83H38.1001L35.0001 88.3C33.7001 90.5 34.5001 93.3 36.7001 94.6C38.9001 95.9 41.8001 95.1 43.1001 92.9Z"
          fill="#FFFFFF"></path>
        <path
          d="M69.1998 9.3C69.1998 8.5 70.0998 7.9 72.0998 7.1C74.0998 6.3 77.1998 5.5 81.5998 5.5C94.4998 5.5 102.9 10.5 108.2 13.3C111.5 15.1 111.9 18 114.5 19.9C116.3 21.2 118.7 20.9 120.6 20.6H120.8C120.8 20.6 126.1 23.3 126.1 23.4C126.4 23.7 125.2 26.7 123.5 30.3C121.7 34 120 36.8 119.6 36.6C119.4 36.5 113.9 33.5 113.9 33.5C113.9 33.5 113.7 32.4 113.1 31.6C112 30.1 110.1 28.3 108 28.3C105.2 28.3 102.3 30.7 99.9998 33.5C97.2998 36.6 90.0998 51.7 87.3998 57.4C87.1998 57.9 86.7998 60.1 86.3998 61C85.5998 62.8 61.0998 113.8 58.8998 118.3C58.0998 119.8 56.4998 120.5 54.4998 120.5C50.4998 120.5 43.8998 116.7 43.7998 112.6C43.7998 112 44.1998 110.3 44.4998 109.5C45.0998 108 75.7998 55.4 76.1998 54.7C76.2998 54.5 77.3998 53.3 78.0998 52.1C80.4998 47.6 86.1998 37.1 88.3998 32.8C88.6998 32.2 90.6998 27 90.5998 25.4C89.8998 18.3 88.0998 10.4 70.9998 9.9C70.3998 9.9 69.1998 9.6 69.1998 9.3Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Redux</title>
        <path
          d="M88.6902 88.11C79.6902 106.51 63.9302 118.89 43.0802 122.96C39.8833 123.743 36.6015 124.126 33.3102 124.1C21.3102 124.1 10.3102 119.1 4.97018 110.91C-2.19982 100 -4.63982 76.87 19.0002 59.76C19.4802 62.37 20.4602 65.95 21.1102 68.07C16.4695 71.5177 12.6709 75.9727 10.0002 81.1C5.60018 89.74 6.09018 98.37 11.3002 106.35C14.9002 111.73 20.6002 115 27.9302 116C37.0855 117.159 46.3735 115.41 54.4802 111C67.1902 104.32 75.6602 96.34 81.2002 85.43C79.6337 83.8111 78.7065 81.6797 78.5902 79.43C78.5064 77.0159 79.3839 74.6671 81.03 72.8992C82.676 71.1313 84.9562 70.0886 87.3702 70H87.7102C90.0581 69.9882 92.3208 70.8795 94.0299 72.4895C95.739 74.0994 96.7639 76.3048 96.8923 78.6493C97.0208 80.9937 96.2431 83.2979 94.7201 85.0849C93.1971 86.872 91.0454 88.0051 88.7102 88.25L88.6902 88.11ZM117.36 67.91C129.57 81.75 129.9 98.04 125.18 107.49C120.78 116.12 109.18 124.76 93.5802 124.76C86.2978 124.611 79.1339 122.889 72.5802 119.71C74.8702 118.08 78.1202 115.47 79.9102 113.84C84.9641 116.029 90.4029 117.192 95.9102 117.26C106.01 117.26 113.66 112.54 118.22 103.91C121.15 98.21 121.32 91.53 118.55 84.69C115.151 76.0838 109.103 68.7818 101.28 63.84C91.0169 56.9214 78.9177 53.2332 66.5402 53.25H63.6102C62.9269 54.8283 61.8155 56.1837 60.4016 57.1628C58.9877 58.1419 57.3279 58.7056 55.6102 58.79H55.3002C52.9243 58.7608 50.6535 57.8065 48.9699 56.1299C47.2863 54.4533 46.3227 52.1864 46.2836 49.8107C46.2446 47.435 47.1332 45.1377 48.7608 43.4067C50.3883 41.6756 52.6266 40.6473 55.0002 40.54H55.3302C56.9842 40.5412 58.606 40.9983 60.0173 41.8609C61.4286 42.7236 62.5748 43.9585 63.3302 45.43H65.9402C86.7402 45.43 105 53.41 117.36 67.91ZM34.6102 90.91C34.4389 89.2494 34.8412 87.5802 35.7502 86.18C26.6302 70.38 21.7502 50.35 29.2402 29.5C34.6102 13.83 48.1302 3.23999 62.7902 3.23999C78.4302 3.23999 94.7202 16.93 96.6702 43.31C94.2302 42.5 90.6702 41.31 88.5302 40.87C88.0002 32.24 80.7102 10.74 63.4402 11.06C57.2502 11.23 48.1302 14.16 43.4402 20.18C37.6388 27.3662 34.2639 36.206 33.8002 45.43C32.7009 58.0777 35.6683 70.7461 42.2702 81.59C42.6346 81.4568 43.0231 81.4023 43.4102 81.43H43.7302C46.149 81.3862 48.486 82.3051 50.2273 83.9845C51.9686 85.6639 52.9714 87.9662 53.0152 90.385C53.0589 92.8038 52.1401 95.1409 50.4607 96.8821C48.7813 98.6234 46.479 99.6262 44.0602 99.67H43.7302C41.3705 99.6616 39.105 98.7429 37.406 97.1054C35.707 95.4678 34.7055 93.2378 34.6102 90.88V90.91Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>JavaScript</title>
        <path
          d="M2 1V126H127V1H2ZM68.119 107.513C66.274 111.262 62.752 113.725 58.671 114.914C52.4 116.354 46.402 115.533 41.94 112.855C38.954 111.023 36.622 108.203 35.039 104.954L44.559 99.124C44.642 99.159 44.892 99.611 45.226 100.195C46.44 102.229 47.487 103.669 49.545 104.68C51.567 105.37 56.006 105.811 57.72 102.253C58.767 100.443 58.434 94.625 58.434 88.188C58.433 78.073 58.48 68 58.48 58H70.189C70.189 69 70.249 79.418 70.189 90.152C70.214 96.732 70.785 102.598 68.119 107.513ZM116.693 104.205C112.623 118.127 89.931 118.579 80.863 109.381C78.947 107.216 77.746 106.085 76.603 103.586C81.422 100.814 81.422 100.814 86.111 98.101C88.658 102.016 91.013 104.169 95.25 105.05C100.998 105.752 106.781 103.777 105.484 97.672C104.151 92.686 93.714 91.473 86.611 86.141C79.4 81.298 77.71 69.53 83.636 62.806C85.611 60.319 88.979 58.463 92.513 57.571L96.201 57.094C103.282 56.951 107.708 58.821 110.957 62.449C111.861 63.365 112.599 64.353 113.979 66.494C110.207 68.898 110.219 68.875 104.816 72.373C103.662 69.887 101.747 68.327 99.723 67.649C96.581 66.697 92.619 67.732 91.797 71.052C91.512 72.075 91.571 73.027 92.024 74.717C93.297 77.62 97.569 78.882 101.401 80.643C112.432 85.117 116.157 89.914 117.073 95.624C117.955 100.54 116.86 103.729 116.693 104.205Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>TypeScript</title>
        <path
          d="M2 63.91V126.41H127V1.41H2V63.91ZM102.73 58.91C105.724 59.6048 108.445 61.1706 110.55 63.41C111.709 64.6165 112.716 65.9597 113.55 67.41C113.55 67.57 108.15 71.22 104.86 73.26C104.74 73.34 104.26 72.82 103.73 72.03C103.129 70.9937 102.276 70.1264 101.25 69.5091C100.223 68.8918 99.057 68.5446 97.86 68.5C94.07 68.24 91.63 70.23 91.65 73.5C91.6187 74.3141 91.8051 75.1219 92.19 75.84C93.02 77.57 94.57 78.6 99.43 80.7C108.38 84.55 112.21 87.09 114.59 90.7C117.25 94.7 117.84 101.16 116.04 105.94C114.04 111.14 109.14 114.67 102.21 115.84C99.0448 116.203 95.8468 116.169 92.69 115.74C87.8722 114.958 83.4279 112.664 80 109.19C78.85 107.92 76.61 104.61 76.75 104.37C77.1151 104.099 77.4994 103.855 77.9 103.64L82.5 101L86.09 98.92L86.84 100.03C88.1057 101.841 89.7166 103.383 91.58 104.57C95.58 106.67 101.04 106.38 103.74 103.95C104.647 103.06 105.212 101.879 105.338 100.615C105.464 99.3505 105.143 98.0819 104.43 97.03C103.43 95.64 101.43 94.47 95.84 92.03C89.39 89.25 86.61 87.53 84.07 84.79C82.4843 82.9819 81.3136 80.8486 80.64 78.54C80.1375 75.9025 80.0633 73.2012 80.42 70.54C81.75 64.31 86.42 59.96 93.24 58.67C96.3984 58.2792 99.5977 58.3669 102.73 58.93V58.91ZM73.39 64.15V69.27H57.16V115.5H45.65V69.26H29.38V64.26C29.3363 62.5387 29.3831 60.8164 29.52 59.1C29.58 59.02 39.52 58.98 51.52 59H73.33L73.39 64.15Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Java</title>
        <path
          d="M47.6169 98.1199C28.4249 103.482 59.2939 114.559 83.7319 104.089C79.7289 102.533 76.8579 100.738 76.8579 100.738C65.9609 102.798 60.9059 102.96 51.0139 101.83C42.8499 100.895 47.6169 98.1199 47.6169 98.1199ZM80.8059 87.6599C66.3619 90.4389 58.0189 90.3499 47.4519 89.2599C39.2809 88.4149 44.6299 84.4549 44.6299 84.4549C23.4929 91.4709 56.3969 99.4319 85.9389 90.7909C82.7989 89.6849 80.8059 87.6599 80.8059 87.6599ZM92.1249 27.0849C92.1259 27.0849 49.3939 37.7539 69.8019 61.2719C75.8259 68.2069 68.2219 74.4419 68.2219 74.4419C68.2219 74.4419 83.5109 66.5509 76.4909 56.6649C69.9319 47.4499 64.9039 42.8719 92.1249 27.0849ZM102.123 108.229C102.123 108.229 105.652 111.139 98.2349 113.388C84.1329 117.66 39.5289 118.948 27.1399 113.559C22.6899 111.621 31.0389 108.934 33.6659 108.367C36.4049 107.774 37.9689 107.882 37.9689 107.882C33.0169 104.395 5.95587 114.732 24.2269 117.697C74.0479 125.773 115.044 114.06 102.123 108.229ZM84.9999 77.8959C87.3949 76.2619 90.7029 74.8429 90.7029 74.8429C90.7029 74.8429 81.2789 76.5279 71.8899 77.3169C60.3959 78.2809 48.0669 78.4709 41.8779 77.6429C27.2259 75.6839 49.9109 70.2949 49.9109 70.2949C49.9109 70.2949 41.0989 69.6989 30.2669 74.9389C17.4549 81.1339 61.9579 83.9579 84.9999 77.8959ZM90.6089 93.0409C90.5009 93.3309 90.1409 93.6569 90.1409 93.6569C121.414 85.4359 109.916 64.6779 94.9629 69.9319C93.6509 70.3959 92.9629 71.4749 92.9629 71.4749C92.9629 71.4749 93.7919 71.1409 95.6409 70.7549C103.2 69.1799 114.03 80.8739 90.6089 93.0409ZM64.1809 70.0689C59.5669 59.6399 43.9209 50.5159 64.1879 34.5099C89.4589 14.5629 76.4919 1.58691 76.4919 1.58691C81.7219 22.1949 58.0409 28.4199 49.4929 41.2539C43.6719 49.9989 52.3499 59.3959 64.1809 70.0689ZM91.4549 121.817C72.2679 125.429 48.6009 125.008 34.5679 122.691C34.5679 122.691 37.4419 125.071 52.2139 126.022C74.6899 127.459 109.214 125.222 110.03 114.586C110.031 114.586 108.46 118.618 91.4549 121.817Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>GitHub Actions</title>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M63.9998 5.10303C30.6528 5.10303 3.61182 32.138 3.61182 65.491C3.61182 92.173 20.9148 114.808 44.9088 122.794C47.9258 123.354 49.0338 121.484 49.0338 119.889C49.0338 118.449 48.9778 113.692 48.9518 108.646C32.1518 112.299 28.6068 101.521 28.6068 101.521C25.8598 94.541 21.9018 92.685 21.9018 92.685C16.4218 88.937 22.3148 89.015 22.3148 89.015C28.3778 89.44 31.5718 95.238 31.5718 95.238C36.9578 104.468 45.6988 101.8 49.1448 100.258C49.6868 96.355 51.2518 93.69 52.9788 92.182C39.5658 90.657 25.4648 85.478 25.4648 62.339C25.4648 55.746 27.8248 50.359 31.6878 46.129C31.0598 44.609 28.9928 38.467 32.2718 30.149C32.2718 30.149 37.3418 28.526 48.8818 36.339C53.6998 35 58.8668 34.327 63.9998 34.304C69.1298 34.327 74.2998 34.998 79.1268 36.337C90.6528 28.524 95.7168 30.147 95.7168 30.147C99.0038 38.464 96.9368 44.607 96.3098 46.127C100.182 50.357 102.525 55.744 102.525 62.337C102.525 85.531 88.3978 90.637 74.9508 92.133C77.1178 94.007 79.0478 97.683 79.0478 103.316C79.0478 111.396 78.9778 117.899 78.9778 119.888C78.9778 121.495 80.0658 123.378 83.1258 122.785C107.106 114.791 124.389 92.163 124.389 65.491C124.388 32.14 97.3498 5.10403 63.9998 5.10403V5.10303Z"
          fill="#FFFFFF"></path>
        <path
          d="M26.4836 91.8059C26.3506 92.1059 25.8786 92.1959 25.4486 91.9909C25.0086 91.7949 24.7636 91.3859 24.9056 91.0849C25.0356 90.7749 25.5086 90.6899 25.9456 90.8969C26.3856 91.0939 26.6356 91.5069 26.4826 91.8069L26.4836 91.8059ZM28.9296 94.5349C28.6426 94.8019 28.0796 94.6779 27.6976 94.2549C27.3016 93.8349 27.2276 93.2719 27.5206 93.0009C27.8186 92.7349 28.3646 92.8609 28.7606 93.2809C29.1546 93.7069 29.2326 94.2649 28.9306 94.5359L28.9296 94.5349ZM31.3116 98.0119C30.9416 98.2699 30.3356 98.0289 29.9616 97.4919C29.5916 96.9539 29.5916 96.3089 29.9716 96.0519C30.3446 95.7939 30.9416 96.0269 31.3216 96.5589C31.6896 97.1039 31.6896 97.7489 31.3116 98.0109V98.0119ZM34.5726 101.373C34.2426 101.738 33.5366 101.64 33.0206 101.143C32.4936 100.656 32.3466 99.9629 32.6776 99.5989C33.0136 99.2329 33.7226 99.3349 34.2416 99.8289C34.7686 100.315 34.9276 101.009 34.5746 101.372L34.5726 101.373ZM39.0726 103.324C38.9256 103.797 38.2476 104.012 37.5626 103.81C36.8796 103.603 36.4326 103.05 36.5726 102.572C36.7126 102.095 37.3956 101.872 38.0846 102.087C38.7676 102.293 39.2146 102.843 39.0726 103.324ZM44.0156 103.685C44.0326 104.183 43.4526 104.595 42.7356 104.605C42.0126 104.622 41.4276 104.218 41.4206 103.728C41.4206 103.225 41.9886 102.818 42.7106 102.804C43.4276 102.791 44.0166 103.191 44.0166 103.684L44.0156 103.685ZM48.6136 102.903C48.6996 103.388 48.2006 103.887 47.4876 104.02C46.7876 104.15 46.1376 103.848 46.0476 103.367C45.9616 102.869 46.4696 102.37 47.1696 102.241C47.8836 102.118 48.5236 102.411 48.6136 102.904V102.903Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Azure DevOps Services</title>
        <path
          d="M43.9831 4.65339C45.22 4.65361 46.4257 5.04182 47.4303 5.76335C48.4349 6.48488 49.1879 7.50338 49.5831 8.67539L85.4931 115.071C85.7935 115.961 85.8776 116.909 85.7386 117.837C85.5997 118.766 85.2416 119.648 84.694 120.41C84.1464 121.173 83.425 121.794 82.5897 122.222C81.7543 122.651 80.8289 122.874 79.8901 122.873H121.27C122.208 122.872 123.133 122.648 123.967 122.22C124.802 121.791 125.523 121.17 126.07 120.408C126.618 119.646 126.976 118.764 127.115 117.835C127.253 116.906 127.169 115.958 126.868 115.068L90.9611 8.67239C90.5659 7.49997 89.8126 6.48116 88.8076 5.75958C87.8026 5.038 86.5964 4.65004 85.3591 4.65039L43.9831 4.65339ZM42.6471 5.13139C41.408 5.13136 40.2001 5.52015 39.1937 6.24297C38.1872 6.96578 37.4329 7.98619 37.0371 9.16039L1.13214 115.55C0.83205 116.439 0.747984 117.387 0.886891 118.315C1.0258 119.243 1.38369 120.125 1.93094 120.887C2.4782 121.649 3.1991 122.27 4.03399 122.699C4.86889 123.127 5.79377 123.35 6.73214 123.35H35.6251C36.8641 123.35 38.0711 122.94 39.0771 122.237C40.0834 121.515 40.8378 120.495 41.2341 119.321L48.2531 98.6114L34.8421 85.7544C34.5961 85.4814 33.4891 83.4804 34.4731 81.7524C35.5811 80.0934 37.4281 80.0934 37.4281 80.0934H54.7131L63.7871 53.9484L48.2741 8.32139C48.2321 8.11639 47.3601 6.95639 45.9931 6.04139C44.6231 5.12639 42.6481 5.13239 42.6481 5.13239L42.6471 5.13139ZM37.7671 80.8714C37.2197 80.8706 36.6847 81.0347 36.2319 81.3424C35.7791 81.6501 35.4296 82.087 35.2288 82.5963C35.028 83.1056 34.9853 83.6636 35.1063 84.1975C35.2273 84.7314 35.5064 85.2164 35.9071 85.5894L73.7371 120.899C74.8381 121.929 76.2391 122.53 77.7441 122.53C77.7441 122.53 79.0261 122.598 79.7991 122.497C81.6161 122.224 83.3241 120.729 83.8891 120.107C85.3461 118.168 84.6831 115.157 84.6831 115.157L73.2331 80.8774L37.7671 80.8714Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Jest</title>
        <path
          d="M124.129 63.0198C124.129 55.3278 118.301 48.8548 110.477 47.0078L128 0.112793H41.1598L58.7228 47.1558C51.1448 49.1518 45.5588 55.5118 45.5588 63.0588C45.5588 68.6048 48.6168 73.5228 53.2618 76.5548C51.4298 78.9218 49.3088 81.1048 46.9058 83.1748C42.3828 87.0228 37.3668 89.9798 31.9488 91.9408C27.0588 88.9448 24.9408 83.6558 26.8548 78.9208C34.3118 76.8508 39.7348 70.5268 39.7348 63.0938C39.7348 53.9608 31.5428 46.5618 21.5148 46.5618C11.4488 46.5618 3.2618 53.9958 3.2618 63.1318C3.2618 67.6448 5.2968 71.7848 8.5588 74.7418C8.2728 75.2618 7.9888 75.7768 7.7028 76.3318C4.9728 81.4378 1.8748 87.2068 0.690801 93.6798C-1.6722 106.621 2.1988 117.016 11.5308 122.895C16.7888 126.188 22.5778 127.852 28.8128 127.852C39.5268 127.852 50.4098 122.969 60.9218 118.234C68.4218 114.871 76.1638 111.355 83.7848 109.656C86.5978 109.027 89.5308 108.656 92.6288 108.25C98.9018 107.437 105.383 106.586 111.211 103.516C118.016 99.9298 122.661 93.9368 124.008 87.0588C125.023 81.7688 124.008 76.4448 121.398 71.7848C123.181 69.21 124.133 66.1515 124.128 63.0198H124.129ZM116.184 63.0198C116.184 68.1598 111.578 72.3398 105.914 72.3398C100.25 72.3398 95.6438 68.1598 95.6438 63.0198C95.6438 61.3548 96.1328 59.7658 96.9878 58.3978C97.3128 57.8778 97.7228 57.3628 98.1278 56.9178C98.5571 56.4601 99.0357 56.0513 99.5548 55.6988L99.5978 55.6598C99.9218 55.4378 100.289 55.2148 100.656 54.9958C100.656 54.9958 100.696 54.9958 100.696 54.9568C100.859 54.8828 101.023 54.7728 101.188 54.6988C101.227 54.6988 101.266 54.6598 101.308 54.6598C101.473 54.5898 101.676 54.5158 101.878 54.4408C102.071 54.3735 102.261 54.2994 102.449 54.2188C102.489 54.2188 102.531 54.1788 102.57 54.1788C102.734 54.1448 102.898 54.0698 103.059 54.0348C103.102 54.0348 103.184 53.9958 103.223 53.9958C103.426 53.9608 103.59 53.9218 103.793 53.8858H103.836L104.446 53.7728C104.488 53.7728 104.566 53.7728 104.609 53.7378C104.773 53.7378 104.934 53.6988 105.098 53.6988H105.301C105.504 53.6988 105.711 53.6638 105.953 53.6638H106.484C106.644 53.6638 106.77 53.6638 106.93 53.6988H107.012C107.34 53.7388 107.664 53.7728 107.992 53.8478C112.637 54.7338 116.184 58.5078 116.184 63.0198ZM52.5268 7.50779H116.629L101.918 46.8948C101.308 47.0078 100.695 47.1908 100.086 47.3748L84.6018 18.7148L69.0738 47.1898C68.4608 47.0068 67.8088 46.8938 67.1598 46.7838L52.5268 7.50779ZM81.6638 59.7998C80.8908 56.3228 78.9338 53.2178 76.1638 50.9248L84.6018 35.4678L93.1168 51.2568C90.5898 53.5498 88.7568 56.4718 88.0228 59.7998H81.6638ZM61.2498 53.9598C61.4528 53.9198 61.6168 53.8858 61.8198 53.8468H61.9408C62.1048 53.8118 62.2698 53.8118 62.4298 53.7718H62.5938C62.7578 53.7718 62.8788 53.7368 63.0428 53.7368H64.6328C64.7928 53.7368 64.9178 53.7718 65.0388 53.7718C65.1208 53.7718 65.1598 53.7718 65.2418 53.8118C65.4058 53.8468 65.5268 53.8468 65.6918 53.8858C65.7298 53.8858 65.7728 53.8858 65.8548 53.9208C66.0588 53.9598 66.2618 53.9948 66.4248 54.0338H66.4648C66.6288 54.0688 66.7928 54.1038 66.9528 54.1788C66.9958 54.1788 67.0348 54.2178 67.1168 54.2178C67.2378 54.2528 67.4018 54.2918 67.5228 54.3658C67.5658 54.3658 67.6048 54.4008 67.6478 54.4008C67.8078 54.4758 67.9728 54.5148 68.1368 54.5888H68.1758C68.3788 54.6588 68.5428 54.7328 68.7068 54.8468H68.7468C68.9098 54.9208 69.0738 55.0298 69.2378 55.1038C69.2778 55.1038 69.2778 55.1438 69.3158 55.1438C69.4798 55.2138 69.6018 55.3268 69.7658 55.4008L69.8088 55.4358C70.2968 55.7688 70.7458 56.1398 71.1908 56.5108L71.2338 56.5458C71.6408 56.9518 72.0468 57.3968 72.3748 57.8778C73.4338 59.3578 74.0468 61.0968 74.0468 62.9828C74.0468 68.1238 69.4408 72.2998 63.7768 72.2998C58.1128 72.2998 53.5068 68.1238 53.5068 62.9828C53.4648 58.6548 56.7658 54.9948 61.2498 53.9598ZM21.1478 53.6978C26.8128 53.6978 31.4178 57.8778 31.4178 63.0178C31.4178 68.1588 26.8128 72.3378 21.1478 72.3378C15.4838 72.3378 10.8778 68.1588 10.8778 63.0178C10.8778 57.8778 15.4838 53.6978 21.1478 53.6978ZM115.938 85.7648C115.043 90.4948 111.82 94.6398 107.094 97.1158C102.652 99.4478 97.1908 100.186 91.4448 100.925C88.3088 101.331 85.0078 101.776 81.8278 102.479C73.3518 104.366 65.2028 108.065 57.2968 111.612C47.1908 116.163 37.6518 120.452 28.8128 120.452C24.2068 120.452 20.0898 119.269 16.1798 116.792C7.2148 111.171 7.6598 100.632 8.7228 94.8618C9.6988 89.4598 12.4298 84.3938 15.0388 79.5498C15.1988 79.2528 15.3238 78.9948 15.4838 78.6978C16.3828 78.9948 17.3198 79.2178 18.2968 79.3658C16.7498 87.2058 21.1478 95.3038 29.7068 99.2998L31.2568 100.038L32.9258 99.4828C40.0588 97.1898 46.6598 93.4558 52.4878 88.4628C55.7888 85.6508 58.6018 82.6198 60.9648 79.3268C61.9018 79.4758 62.8398 79.5148 63.7768 79.5148C72.2538 79.5148 79.3828 74.2248 81.4218 67.1238H88.2658C90.3048 74.2608 97.4368 79.5138 105.914 79.5138C109.297 79.5138 112.434 78.6638 115.121 77.2218C116.184 79.9948 116.508 82.8778 115.938 85.7648Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>GraphQL</title>
        <path
          d="M18.39 96.8521L13.79 94.1951L65.04 5.43408L69.637 8.09008L18.39 96.8521Z"
          fill="#FFFFFF"></path>
        <path
          d="M12.7339 87.1055H115.23V92.4155H12.7339V87.1055Z"
          fill="#FFFFFF"></path>
        <path
          d="M66.0306 119.688L14.7656 90.0902L17.4216 85.4882L68.6876 115.09L66.0306 119.688ZM110.566 42.5432L59.3006 12.9412L61.9566 8.34424L113.223 37.9412L110.566 42.5432Z"
          fill="#FFFFFF"></path>
        <path
          d="M17.4339 42.5232L14.7769 37.9222L66.0469 8.32422L68.7029 12.9222L17.4339 42.5232Z"
          fill="#FFFFFF"></path>
        <path
          d="M109.621 96.8521L58.3748 8.09008L62.9728 5.43408L114.223 94.1951L109.621 96.8521ZM16.7998 34.3981H22.1128V93.6021H16.8008L16.7998 34.3981Z"
          fill="#FFFFFF"></path>
        <path
          d="M105.887 34.3984H111.199V93.6024H105.887V34.3984Z"
          fill="#FFFFFF"></path>
        <path
          d="M65.1291 117.441L62.8091 113.421L107.395 87.6763L109.715 91.6963L65.1291 117.441Z"
          fill="#FFFFFF"></path>
        <path
          d="M118.238 95.3282C115.168 100.672 108.32 102.496 102.977 99.4262C97.6329 96.3522 95.8089 89.5042 98.8789 84.1602C101.953 78.8162 108.801 76.9922 114.145 80.0632C119.52 83.1683 121.344 89.9842 118.238 95.3282ZM29.0899 43.8402C26.0159 49.1842 19.1679 51.0082 13.8239 47.9372C8.47985 44.8632 6.65585 38.0162 9.72685 32.6722C12.8009 27.3282 19.6479 25.5042 24.9919 28.5742C30.3359 31.6802 32.1599 38.4962 29.0899 43.8402ZM9.76185 95.3282C6.68685 89.9842 8.51185 83.1682 13.8549 80.0622C19.1989 76.9922 26.0149 78.8162 29.1209 84.1602C32.1909 89.5042 30.3669 96.3202 25.0229 99.4262C19.6479 102.496 12.8319 100.672 9.76185 95.3282ZM98.9099 43.8402C95.8399 38.4962 97.6639 31.6802 103.008 28.5742C108.352 25.5042 115.168 27.3282 118.273 32.6722C121.343 38.0162 119.52 44.8322 114.176 47.9382C108.832 51.0082 101.984 49.1842 98.9099 43.8402ZM63.9999 126.656C62.5329 126.658 61.08 126.37 59.7245 125.809C58.3689 125.248 57.1373 124.425 56.0999 123.388C55.0626 122.351 54.2401 121.119 53.6793 119.764C53.1185 118.408 52.8305 116.955 52.8319 115.488C52.8305 114.021 53.1185 112.568 53.6793 111.213C54.2401 109.857 55.0626 108.626 56.0999 107.588C57.1373 106.551 58.3689 105.728 59.7245 105.168C61.08 104.607 62.5329 104.319 63.9999 104.32C65.4668 104.319 66.9197 104.607 68.2752 105.168C69.6308 105.728 70.8624 106.551 71.8998 107.588C72.9371 108.626 73.7596 109.857 74.3204 111.213C74.8812 112.568 75.1692 114.021 75.1679 115.488C75.1679 121.633 70.1758 126.656 63.9999 126.656ZM63.9999 23.6802C62.5329 23.6816 61.08 23.3936 59.7245 22.8328C58.3689 22.272 57.1373 21.4494 56.0999 20.4121C55.0626 19.3748 54.2401 18.1432 53.6793 16.7876C53.1185 15.4321 52.8305 13.9792 52.8319 12.5122C52.8305 11.0453 53.1185 9.59244 53.6793 8.23688C54.2401 6.88132 55.0626 5.64965 56.0999 4.61234C57.1373 3.57503 58.3689 2.75246 59.7245 2.19168C61.08 1.6309 62.5329 1.34293 63.9999 1.34424C65.4668 1.34293 66.9197 1.6309 68.2752 2.19168C69.6308 2.75246 70.8624 3.57503 71.8998 4.61234C72.9371 5.64965 73.7596 6.88132 74.3204 8.23688C74.8812 9.59244 75.1692 11.0453 75.1679 12.5122C75.1692 13.9792 74.8812 15.4321 74.3204 16.7876C73.7596 18.1432 72.9371 19.3748 71.8998 20.4121C70.8624 21.4494 69.6308 22.272 68.2752 22.8328C66.9197 23.3936 65.4668 23.6816 63.9999 23.6802Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>SQLite</title>
        <path
          d="M115.95 2.78101C110.446 -2.12499 103.79 -0.151987 97.2118 5.68301C96.199 6.59311 95.2255 7.54597 94.2938 8.53901C83.0478 20.469 72.6098 42.559 69.3678 59.434C70.6298 61.997 71.6178 65.266 72.2698 67.762C72.5948 69 72.8868 70.25 73.1448 71.508C73.1448 71.508 73.0438 71.129 72.6298 69.93L72.3638 69.153C72.3092 69.0094 72.2505 68.8673 72.1878 68.727C71.4538 67.02 69.4268 63.418 68.5318 61.852C67.8226 63.929 67.1532 66.0194 66.5238 68.122C69.1058 72.836 70.6728 80.922 70.6728 80.922C70.6728 80.922 70.5398 80.395 69.8908 78.567C69.3208 76.95 66.4538 71.93 65.7738 70.758C64.6138 75.048 64.1538 77.938 64.5668 78.641C65.3798 80.004 66.1448 82.364 66.8168 84.965C68.3448 90.833 69.4028 97.981 69.4028 97.981L69.4968 99.173C69.2938 104.059 69.3948 108.954 69.7938 113.829C70.3018 119.942 71.2508 125.188 72.4618 128.001L73.2858 127.551C71.5048 122.016 70.7818 114.759 71.1018 106.396C71.5788 93.606 74.5238 78.181 79.9578 62.106C89.1488 37.845 101.896 18.373 113.56 9.07201C102.93 18.673 88.5368 49.767 84.2278 61.275C79.4038 74.162 75.9898 86.252 73.9298 97.84C77.4848 86.977 88.9728 82.313 88.9728 82.313C88.9728 82.313 94.6098 75.359 101.196 65.43C97.2508 66.328 90.7698 67.871 88.5978 68.781C85.3978 70.121 84.5348 70.578 84.5348 70.578C84.5348 70.578 94.9058 64.266 103.805 61.406C116.039 42.136 129.371 14.761 115.95 2.78101ZM16.8958 5.68101C11.4978 5.70101 7.12584 10.071 7.11084 15.47V104.044C7.12684 109.442 11.5008 113.809 16.8958 113.829H67.1228C66.7474 109.026 66.6549 104.205 66.8458 99.391C66.8148 99.059 66.7868 98.637 66.7598 98.324C66.1104 94.0602 65.2686 89.8278 64.2368 85.64C63.5918 83.133 62.7718 80.851 62.2718 80.004C61.6508 78.953 61.7478 78.351 61.7518 77.699C61.7518 77.059 61.8338 76.394 61.9518 75.64C62.2678 73.762 62.6818 71.902 63.1978 70.066L64.3538 69.918C64.2638 69.73 64.2798 69.57 64.1898 69.402L63.9708 67.371C64.6108 65.234 65.2868 63.109 66.0108 61L67.0768 60.898C67.0338 60.816 67.0218 60.695 66.9788 60.618L66.7488 58.933C70.1118 41.437 80.5488 19.234 92.3498 6.71401C92.7018 6.34401 93.0608 6.03101 93.4048 5.67901L16.8958 5.68101Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Socket.io</title>
        <path
          d="M63.951 0.000976562C28.696 0.000976562 0.000976562 28.696 0.000976562 63.951C0.000976562 99.206 28.696 127.901 63.951 127.901C99.206 127.901 127.901 99.206 127.901 63.951C127.901 28.696 99.206 0.000976562 63.95 0.000976562H63.951ZM63.951 10.68C93.435 10.68 117.223 34.467 117.223 63.951C117.223 93.436 93.435 117.223 63.951 117.223C34.467 117.223 10.679 93.436 10.679 63.951C10.679 34.467 34.467 10.68 63.951 10.68Z"
          fill="#FFFFFF"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M48.39 60.716C62.394 49.276 76.092 37.438 90.401 26.332C82.896 37.865 75.177 49.245 67.672 60.777C61.235 60.807 54.797 60.807 48.39 60.716ZM60.228 67.092C66.696 67.092 73.133 67.092 79.57 67.184C65.475 78.564 51.838 90.493 37.499 101.568C45.004 90.035 52.723 78.625 60.228 67.092Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Firebase</title>
        <path
          d="M27.35 80.5202L38.03 12.0802C38.4 9.75023 41.53 9.19023 42.63 11.2802L54.11 32.7602L27.35 80.5202ZM103.29 97.1502L93.1 34.1102C92.79 32.1502 90.34 31.3502 88.93 32.7602L24.71 97.1502L60.25 117.1C61.3498 117.705 62.5847 118.023 63.84 118.023C65.0952 118.023 66.3302 117.705 67.43 117.1L103.29 97.1502ZM74.44 42.1502L66.21 26.5002C65.29 24.7202 62.77 24.7202 61.85 26.5002L25.7 90.9502L74.44 42.1502Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>

    <div class="py-2">
      <svg
        width="48"
        height="48"
        viewBox="0 0 128 128"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Storybook</title>
        <path
          d="M107.346 2.012L100.432 2.443L100.971 16.82C100.999 17.615 100.082 18.079 99.457 17.586L94.827 13.936L89.342 18.098C89.2008 18.2052 89.0319 18.2701 88.8552 18.2849C88.6785 18.2997 88.5012 18.2639 88.344 18.1817C88.1869 18.0994 88.0564 17.9742 87.9679 17.8205C87.8793 17.6669 87.8364 17.4912 87.844 17.314L88.461 3.191L19.873 7.48C18.2414 7.58166 16.7143 8.3171 15.6175 9.52931C14.5208 10.7415 13.9414 12.3344 14.003 13.968L17.863 116.806C17.9219 118.377 18.5696 119.869 19.6774 120.985C20.7853 122.1 22.2722 122.759 23.843 122.829L107.455 126.583C108.3 126.62 109.144 126.486 109.936 126.189C110.728 125.892 111.452 125.437 112.064 124.853C112.675 124.268 113.162 123.566 113.495 122.788C113.827 122.01 113.999 121.173 114 120.327V8.264C114 7.40833 113.825 6.56166 113.486 5.77631C113.146 4.99096 112.649 4.28362 112.025 3.698C111.402 3.11205 110.665 2.66012 109.86 2.37013C109.055 2.08014 108.2 1.95825 107.346 2.012ZM65.886 23.199C82.194 23.199 91.1 31.922 91.1 48.518C88.896 50.231 72.48 51.398 72.48 48.961C72.826 39.661 68.663 39.254 66.35 39.254C64.152 39.254 60.451 39.916 60.451 44.898C60.451 57.186 92.141 56.523 92.141 81.322C92.141 95.272 80.806 102.977 66.35 102.977C51.43 102.977 38.393 96.941 39.865 76.014C40.443 73.557 59.41 74.141 59.41 76.014C59.18 84.649 61.145 87.189 66.117 87.189C69.934 87.189 71.67 85.086 71.67 81.543C71.67 68.922 40.443 68.48 40.443 45.342C40.443 32.057 49.581 23.199 65.887 23.199H65.886Z"
          fill="#FFFFFF"></path>
      </svg>
    </div>
  </div>
</BaseLayout>
