---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <div class="mb-4">
      As a Software Engineer at Localiza, I deliver innovative and efficient
      solutions for the leading car rental company in Latin America. I
      specialize in React Native, a technology that enables me to create
      high-quality mobile applications for different platforms.
    </div>
    <div class="mb-4">
      With a proven track record of optimizing app performance, enhancing user
      experience, and driving success through strategic improvements, I have
      contributed to significant achievements such as increasing the app's
      rating from 4.3 to 4.8, reducing support calls by 60%, and improving
      loading performance by 70%. I am also skilled in managing large user
      bases, refactoring critical libraries, and architecting applications from
      scratch, demonstrating strong architectural and development skills.
    </div>
    <div>
      I hold a Bachelor's degree in Computer Science from the Federal Institute
      of Education, Science and Technology of Cear치, where I developed my
      proficiency in geospatial mapping techniques for data-driven
      decision-making. I am committed to continuous learning and collaborating
      with teams to achieve outstanding results. I am passionate about creating
      solutions that make a positive impact on people's lives and the
      environment.
    </div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor's degree, Computer Science"
      subtitle="2015 to 2021 at Federal Institute of Education, Science and Technology of Cear치, Brazil"
    />
    <!-- <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    /> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineer"
      subtitle="From Aug 2022 to Present at Localiza"
    >
      <ul class="list-disc mb-4 mx-4">
        <li>
          Optimizations were applied to the In App Review flow, informed by
          insightful A/B tests, culminating in a substantial UX improvement that
          propelled the app's rating from 4.3 to an impressive 4.8.
          Additionally, strategic refinements were introduced to optimize the
          timing and handling of review requests, further enriching user
          engagement.
        </li>
        <li>
          Developed a digital scheduling flow, reducing support calls by up to
          60% and improving operational efficiency.
        </li>
        <li>
          Optimized image consumption through CMS, enhancing loading performance
          by 70% for a smoother user experience.
        </li>
        <li>
          Improved code standards, boosting productivity, code quality, and
          reducing testing time significantly.
        </li>
        <li>
          Successfully refactored and migrated critical libraries without
          incidents, ensuring a modern, secure, and efficient application
          foundation.
        </li>
        <li>
          Drives a weekly rolling release to a huge user base of 100,000 users,
          ensuring bug-free sessions and 100% monitored publications with
          BugSnag and DataDog as observability tools.
        </li>
        <li>
          Created and migrated comprehensive documentation, fostering knowledge
          sharing and enhancing organizational efficiency.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="From Jul 2021 to Aug 2022 at Magnetis"
    >
      <ul class="list-disc mb-4 mx-4">
        <li>
          Release Time Optimization: Successfully decreased the release time of
          an open-source library from days to minutes through efficient process
          improvements and automation.
        </li>
        <li>
          Customer Experience Unification: Played a key role in unifying the
          experience of various types of customers in specific app flows,
          ensuring a consistent and seamless user journey for all users.
        </li>
        <li>
          Large User Base Migration: Actively participated in the migration
          flows of a large user base, managing the process smoothly and ensuring
          minimal disruptions during the transition.
        </li>
        <li>
          Typing Enhancement: Actively contributed to improving the typing of
          components utilized in the application, resulting in enhanced code
          quality and better developer experience.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="From Feb 2020 to Jun 2021 at ioasys"
    >
      <ul class="list-disc mb-4 mx-4">
        <li>
          Application Development from Scratch: Successfully built an
          application entirely from the ground up to Minimum Viable Product
          (MVP), demonstrating strong architectural and development skills.
        </li>
        <li>
          Scalable User Base Management: Proficient in handling and working with
          a user base ranging from 100 to 10,000 users, ensuring the application
          performs optimally and meets the demands of varying user loads.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="From Jan 2018 to Jan 2020 at Federal Institute of Education, Science and Technology of Cear치"
    >
      <ul class="list-disc mb-4 mx-4">
        <li>
          Scalability: Successfully managed and scaled an application to handle
          approximately 50 users in a limited database, optimizing performance
          and ensuring smooth user experiences even under increased loads.
        </li>
        <li>
          Geospatial Mapping: Proficient in geospatial mapping techniques,
          effectively mapping and analyzing approximately 100 commercial
          establishments to support the creation of new public policies with
          location-based insights and data-driven decision-making.
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Volunteering</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Education Mentor"
      subtitle="From Oct 2017 to Mar 2018 at Federal Institute of Education, Science and Technology of Cear치"
    >
      Guided an Introduction to Logic Programming class at a Digital Inclusion
      Center, helping students to develop their programming skills and learn
      about the importance of digital inclusion.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="text-xl w-full">Mobile</div>
  <ul class="list-disc md:columns-5 columns-2 mx-6 my-4">
    <li>React Native</li>
    <li>Android</li>
    <li>In App Review</li>
    <li>Turbo Modules</li>
    <li>Play Store</li>
    <li>App Store</li>
    <li>Redux</li>
    <li>Redux Sauce</li>
    <li>Redux Saga</li>
    <li>Context API</li>
  </ul>

  <div class="text-xl w-full">Programming Language</div>
  <ul class="list-disc md:columns-5 columns-2 mx-6 my-4">
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Java</li>
  </ul>

  <div class="text-xl w-full">
    Continuous Integration and Continuous Delivery (CI/CD)
  </div>
  <ul class="list-disc md:columns-5 columns-2 mx-6 my-4">
    <li>GitHub Actions</li>
    <li>Microsoft Azure</li>
    <li>Azure DevOps Services</li>
  </ul>

  <div class="text-xl w-full">Observability</div>
  <ul class="list-disc md:columns-5 columns-2 mx-6 my-4">
    <li>Sentry</li>
    <li>BugSnag</li>
    <li>Datadog</li>
  </ul>

  <div class="text-xl w-full">Tests</div>
  <ul class="list-disc md:columns-5 columns-2 mx-6 my-4">
    <li>Jest</li>
    <li>React Testing Library</li>
    <li>Maestro (e2e)</li>
  </ul>

  <div class="text-xl w-full">Others</div>
  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>GraphQL</li>
    <li>Apollo</li>
    <li>SQLite</li>
    <li>Socket.io</li>
    <li>Geolocation</li>
    <li>Analytics</li>
    <li>Firebase</li>
    <li>Storybook</li>
    <li>Design Systems</li>
  </ul>
</BaseLayout>
