---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey, there 👋</div>
    <div class="text-5xl font-bold">I'm Alberto Zaranza</div>
    <div class="py-3">
      <div class="text-3xl font-bold">Mobile Software Engineer</div>
      <div class="text-xl font-bold">React Native Specialist</div>
    </div>
    <div class="py-2">
      <text class="text-lg">
        As a Mobile Software Engineer, I specialize in React Native, a
        technology that enables me to create high-quality mobile applications
        for different platforms. I am passionate about creating solutions that
        make a positive impact on people's lives and the environment.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn btn-outline"
        href="https://www.linkedin.com/in/albertozaranza/"
        target="_blank"
      >
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="My Portfolio"
    img="/post_img.webp"
    desc="Welcome to my programming portfolio! Browse through my projects and discover my talent and experience in software development. I hope you find something inspiring!"
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Zarp"
    img="/zarp.webp"
    desc="Zarp Localiza is a platform that offers car rental plans specifically designed for ride-sharing drivers (such as Uber drivers) in Brazil."
    url="https://play.google.com/store/apps/details?id=com.localiza.zarp&hl=pt_BR&gl=US"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Magnetis Investimentos"
    img="/magnetis.webp"
    desc="Magnetis is Brazil's first digital investment manager. As a financial institution authorized and regulated by the Brazilian Securities and Exchange Commission (CVM) and supervised by the Central Bank of Brazil, it provides an innovative approach to investing and managing wealth."
    url="https://play.google.com/store/apps/details?id=com.magnetismobileapp&hl=pt_BR&gl=US"
  />
</BaseLayout>
